[submodule "Front-End"]
	path = er7_ass-tec-ui
	url = https://github.com/CarlosEReis/er7_ass-tec-ui.git
[submodule "er7_ass-tec-api"]
	path = er7_ass-tec-api
	url = https://github.com/CarlosEReis/er7_ass-tec-api.git
